/* Botón volver para páginas de planes */
.navbar-back-btn {
  color: white;
  background: black;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  border: 2px solid white;
  margin-left: 10px; /* separación del borde izquierdo */
}

.navbar-back-btn:hover {
  background: #222;
}








.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

/* Logo */
.navbar-left .navbar-brand {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

/* Menú normal */
.navbar-right {
  display: flex;
  gap: 15px;
}

.navbar-link {
  font-size: 16px;
  color: #fff;
  background: none;
  border: none;
  text-decoration: none;
  padding: 6px 12px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #555;
}

/* Hamburguesa oculta en desktop */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.menu-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
  }

  .menu-toggle {
    display: flex;
    order: 2;
  }

  .navbar-left {
    order: 2; /* logo a la izquierda */
  }

  .navbar-right {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* completamente fuera de la vista */
  z-index: 999;
  display: flex;
}

.navbar-right.open {
  transform: translateX(0); /* entra suavemente */
}

}


.close-btn {
  display: none;
}

@media (max-width: 768px) {
  .close-btn {
    display: block;
    background: none;
    color: white;
    font-size: 28px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
}
