

/* Reset y fuente base */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('/assets/back2.jpg');  /* Fondo de imagen */
  background-size: cover;  /* Asegura que la imagen ocupe todo el fondo */
  background-position: center 10%;  /* Centra la imagen horizontalmente y la desplaza hacia abajo */
  background-attachment: fixed;  /* Hace que el fondo no se mueva al hacer scroll */
  height: 100%; /* Asegura que el body ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Alinea el contenido desde la parte superior (debido al navbar fijo) */
}



/* Contenedor principal */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra verticalmente */
  padding: 40px; /* Espacio adicional a los laterales */
  max-width: 2200px; /* Limita el ancho máximo */
  width: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
  box-sizing: border-box;
  text-align: center; /* Centra el texto dentro de los contenedores */
  min-height: calc(90vh - 60px); /* Hace que ocupe toda la altura visible de la pantalla menos la altura del navbar */
  height: auto; /* El contenedor se ajusta a su contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Hero */
.hero-container {
  max-width: 1200px;
  padding: 0 20px;
}

/* Hero Title */
.hero-title {
  font-size: 4.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 32px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra al texto */
}


/* Descripción */
.description {
  font-size: 1.3rem;
  line-height: 1.7;
  color: #f2f2f2;
  margin-bottom: 10px;
  text-align: center; /* Justifica el texto */
  font-family: 'Roboto', sans-serif; /* Fuente más profesional */
  font-weight: 300; /* Peso más ligero */
}


/* Herramientas */
.tools-container {
  max-width: 900px;
  padding: 0 20px;
}

.tools-title {
  font-size: 2rem;
  font-weight: 600;
  color: #83d2ff;
  margin-bottom: 20px;
}

.tools-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tool-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px; /* Altura fija para que todos sean iguales */
  padding: 10px;
  background: transparent;
  border: none;            /* Sin borde */
  box-shadow: none;        /* Sin sombra */
  transition: transform 0.3s;
}

.tool-box:hover {
  transform: scale(1.1);
}

.tool-img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: block;
  transform: scale(1); /* Escala por defecto */
}

/* Escala extra para íconos más pequeños */
.tool-img[src*="excel.png"],
.tool-img[src*="powerbi.png"] {
  transform: scale(1.5); /* Ajusta este valor según se necesite */
}
